* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
}

:focus {
  background-color: skyblue;
 /* TODO */
}

body {
  justify-content: center;
  display: flex;
  position: relative;
  align-items: center;
  min-height: 50vh;
  min-width: 20vw;
  max-width: 100vw;
  max-height: 100vw;
  margin: auto;
  background:linear-gradient(#a8c7f7, white);
  background-attachment: fixed;
  /* TODO */
}

input {
  color: rgb(0, 0, 0);
  height: 25px;
  width: 300px;
 /* TODO */
}

.search-container {
  position: relative;
  margin: 0 auto;
 /* TODO */
}
.search-container input,
.search-container .suggestions {
position: relative;
background-color: rgb(252, 249, 244);
width: 100%;
height: 100%;
text-align: center;
  /* TODO */
}
.search-container input {
  color: rgb(0, 0, 0);
  /* position:absolute; */
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
 /* TODO */
}
.search-container .suggestions {
  /* position: absolute; */
  width: 100%;
  overflow-y: auto;
  text-align: center;

   /* TODO */
}

ul {
  padding: 0;
  margin: auto;
  max-height: 300px;
  list-style-type: none;
  /* TODO */
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  padding: 2px;
  /* TODO */
}
ul li:hover {
  background-color: aqua;
  /* TODO */
}

input {
  color: white;
   /* TODO */
}